{% extends 'base.html' %}

{% block title %}
    Show my tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_item_object.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for potato in task_item_object %}
                            <tr>
                                <td>{{ potato.name }}</td>
                                <td>{{ potato.start_date }}</td>
                                <td>{{ potato.due_date }}</td>
                                <td>{{ potato.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
